<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>left</title>
	<link rel="stylesheet" href="css/public.css">
	<script src="js/jquery-1.4.4.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<!-- left start -->
	<div class="left_top">
		<div class="left_title"><span>后台管理系统</span></div>
	</div>
	<div class="left_slide">
		<dl>
			<dt><i></i>内容管理</dt>
			<dd>
				<ul>
					<li><a href="manage_news.html" target="rightFrame">|__新闻管理</a></li>
					<li><a href="manage_hb.html" target="rightFrame">|__红包管理</a></li>
					<li><a href="manage_tutor.html" target="rightFrame">|__导师管理</a></li>
					<li><a href="manage_sx.html:" target="rightFrame">|__失信曝光</a></li>
				</ul>
			</dd>
			<dt><i></i>用户管理</dt>
			<dd>
				<ul>
					<li><a href="">|__新增用户</a></li>
				</ul>
			</dd>
			<dt><i></i>文件管理</dt>
			<dd>
				<ul>
					<li><a href="">|__图片管理</a></li>
					<li><a href="">|__文档管理</a></li>
				</ul>
			</dd>
			<dt><i></i>系统设置</dt>
			<dd>
				<ul>
					<li><a href="">|__站点设置</a></li>
					<li><a href="">|__其他设置</a></li>
				</ul>
			</dd>
		</dl>
	</div>
	<!-- left end -->
</body>
</html>