<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻管理页面</title>
		<!-- css -->
	<link type="text/css" rel="stylesheet" href="css/public.css">
	<link type="text/css" rel="stylesheet" href="css/extend.css">
	<link type="text/css"  rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/amazeui.min.css" />
	<!-- js -->
	<script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
	<script language="javascript" type="text/javascript" src="js/app.js"></script>
</head>
<body>
	<!-- mbx start -->
	<div class="public_mbx">
		<ul>
			<span>当前位置：</span>
			<li><a href="javascript:">首页</a></li>
			<li><a href="javascript:">新闻管理</a></li>
		</ul>
	</div>
	<!-- search start -->
	<div class="news_mng_list">
		<form action="" class="am-form search_form">
			<div class="news_mng_search am-padding-top-sm">
				<div class="am-form-group am-fl">
					<label for="gov">按分类查询：</label>
					<select id="gov" class="public_form_input w183 am-margin-right-sm" datatype="*" nullmsg="请选择部门">
						<option value="">-=请选择=-</option>
						<option value="0">全部</option>
       					<option value="1">组织部(人才办)</option>
       					<option value="2">发改局</option>
       					<option value="3">工信局</option>
       					<option value="4">科技局</option>
       					<option value="5">财政局</option>
       					<option value="6">商务旅游</option>
       					<option value="7">市场监督</option>
       					<option value="8">农村农业</option>
       				</select>
       			</div>
       			<div class="am-form-group am-fl">
					<label for="gov">按状态查询：</label>
					<select id="gov" class="public_form_input w183 am-margin-right-sm">
						<option value="">-=请选择=-</option>
       					<option value="1">未审核</option>
       					<option value="2">已审核</option>
       				</select>
       			</div>
       			<div class="am-form-group am-fl">
					<label for="txt_search">模糊查询：</label>
					<input type="text" class="public_form_input w220" id="txt_search" />
				</div>
				<input type="button" id="search_news" class="public_form_btn tk-dis-inline am-margin-left-lg" value="立即查询">
				<div class="am-btn-group doc-js-btn-1" data-am-button>
			</div>
		<!-- newsList start -->
		<table class="news_list_tab">
			<thead>
				<tr>
					<th><input type="checkbox" value="" name="" id="chk_all"></th>
					<th>标题</th>
					<th>简介</th>
					<th>发布时间</th>
					<th>类别</th>
					<th>待添加</th>
					<th>审核</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" value="" name="chk_list"></td>
					<td>测试</td>
					<td>测试1</td>
					<td>测试2</td>
					<td>测试3</td>
					<td>测试4</td>
					<td><i class="am-icon-check-circle am-icon-sm am-text-success am-padding-right-sm"></i>已审核</td>
				</tr>
				<tr>
					<td><input type="checkbox" value="" name="chk_list"></td>
					<td>测试</td>
					<td>测试1</td>
					<td>测试2</td>
					<td>测试3</td>
					<td>测试4</td>
					<td><i class="am-icon-times-circle am-text-danger am-padding-right-sm am-icon-sm"></i>未审核</td>
				</tr>
				<tr>
					<td><input type="checkbox" value="" name="chk_list"></td>
					<td>测试</td>
					<td>测试1</td>
					<td>测试2</td>
					<td>测试3</td>
					<td>测试4</td>
					<td><i class="am-icon-times-circle am-text-danger am-padding-right-sm am-icon-sm"></i>未审核</td>
				</tr>
				<tr>
					<td><input type="checkbox" value="" name="chk_list"></td>
					<td>测试</td>
					<td>测试1</td>
					<td>测试2</td>
					<td>测试3</td>
					<td>测试4</td>
					<td><i class="am-icon-times-circle am-text-danger am-padding-right-sm am-icon-sm"></i>未审核</td>
				</tr>
			</tbody>
		</table>
		<div class="batch_opera am-margin-top-sm">
			<ul class="am-padding-0">
				<li><a class="am-btn am-btn-success am-radius" href="javascript:">审核通过</a></li>
				<li><a class="am-btn am-btn-warning am-radius" href="javascript:">取消审核</a></li>
				<li><a class="am-btn am-btn-danger am-radius" href="javascript:">删除</a></li>
			</ul>
		</div>
	</div>
	</form>
	<script>
		$('.news_list_tab tbody tr:odd').addClass('odd');
	</script>
</body>
</html>